* {
  font-family: "Roboto Condensed", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.choise {
  display: -ms-grid;
  display: grid;
  background-color: #7a8893;
  margin-top: 20px;
}

.choise h2 {
  text-align: center;
}

.choise__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 5px;
  padding: 5px;
}

.choise__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr;
      grid-template-columns: 100px 1fr;
  background: #b3bac2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  padding: 0px 10px 0px 0px;
  place-items: center;
}

.choise__item__img {
  width: 50%;
}

.choise__item_descr {
  line-height: 25px;
}

.footer__container {
  position: relative;
}

.footer__info {
  position: absolute;
  width: 370px;
  height: 120px;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(125, 145, 163, 0.8);
  text-align: center;
}

.footer__adrr {
  font-size: 20px;
  margin: 10px 0 10px 0;
  text-transform: uppercase;
}

.footer__phone {
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.footer__phone:hover {
  color: #0303c7;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.footer__social {
  margin-top: 10px;
}

.main {
  background: url(../../../img/bg.jpg) center center/cover no-repeat;
}

.stock {
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 50px 10px 0 10px;
}

.stock__text {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: 1fr;
      grid-template: repeat(2, 1fr)/1fr;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}

.stock__title {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}

.stock__descr {
  margin-top: 20px;
  font-size: 20px;
  text-transform: uppercase;
}

.stock__subtitle {
  font-size: 20px;
  text-transform: uppercase;
}

.stock__timer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 1fr / 1fr;
  margin-top: 80px;
}

.stock__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[4];
      grid-template: 1fr/repeat(4, 1fr);
}

.stock__item {
  display: -ms-grid;
  display: grid;
  width: 110px;
  height: 120px;
  font-size: 20px;
  text-align: center;
  background-color: rgba(109, 125, 139, 0.6);
  -webkit-box-shadow: 0px 0px 17px white;
          box-shadow: 0px 0px 17px white;
}

.stock__item span {
  font-size: 50px;
}

.header {
  display: -ms-grid;
  display: grid;
  background-color: #7a8893;
  padding-top: 10px;
}

.header__first {
  font-size: 60px;
  padding-top: 14px;
  text-transform: uppercase;
  font-family: "Stalinist One", cursive;
}

.header__logo {
  width: 110px;
}

.header__second {
  font-size: 60px;
  padding-top: 14px;
  text-transform: uppercase;
  font-family: "Stalinist One", cursive;
}

.header__component {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  margin: 0 auto;
}

.header__menu {
  display: -ms-grid;
  display: grid;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header__list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
}

.header__link {
  font-size: 18px;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.header__link:hover {
  color: red;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.tabs {
  display: -ms-grid;
  display: grid;
  padding: 15px;
}

.tabs__allcontent {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.tabs__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
}

.tabs__bg {
  position: relative;
  display: -ms-grid;
  display: grid;
  padding: 0px 80% 0px 0px;
}

.tabs__bg.hide {
  display: none;
}

.tabs__bg.show {
  display: block;
}

.tabs__bg.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.tabs__bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.tabs__tabheader {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  background: #b3bac2;
}

.tabs__descr {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
  z-index: 1;
  background: rgba(179, 186, 194, 0.8);
  padding: 10px;
}

.tabs__items {
  padding-left: 10px;
  font-size: 16px;
}

.tabs__item {
  cursor: pointer;
}

.tabs__item_active {
  font-weight: 900;
  font-size: 20px;
}

@media (max-width: 992px) {
  .header__first {
    font-size: 55px;
  }
  .header__second {
    font-size: 55px;
  }
  .header__logo {
    width: 94px;
  }
}

@media (max-width: 768px) {
  .header__first {
    font-size: 40px;
  }
  .header__second {
    font-size: 40px;
  }
  .header__logo {
    width: 60px;
  }
  .header__link {
    font-size: 13px;
    color: black;
  }
  .tabs {
    display: -ms-grid;
    display: grid;
  }
  .tabs__allcontent {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: minmax(300px, auto) minmax(150px, auto) minmax(150px, auto);
        grid-template-rows: minmax(300px, auto) minmax(150px, auto) minmax(150px, auto);
  }
  .tabs__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
  .tabs__bg {
    position: relative;
    display: -ms-grid;
    display: grid;
    padding: 0px 100% 0px 0px;
  }
  .tabs__bg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .tabs__tabheader {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    text-align: center;
  }
  .tabs__descr {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    z-index: 1;
    background: rgba(179, 186, 194, 0.6);
  }
}

@media (max-width: 576px) {
  .header__first {
    font-size: 30px;
  }
  .header__second {
    font-size: 30px;
  }
  .header__logo {
    padding-top: 10px;
    width: 40px;
  }
  .header__link {
    font-size: 13px;
    color: black;
  }
}

@media (max-width: 320px) {
  .header__first {
    font-size: 20px;
  }
  .header__second {
    font-size: 20px;
  }
  .header__logo {
    width: 30px;
  }
  .header__link {
    font-size: 13px;
    color: black;
  }
}

li {
  list-style-type: none;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.tabs {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: tabs;
}

.choise {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: choise;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

.footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: footer;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  background-color: #7a8893;
  -ms-grid-rows: minmax(150px, auto) minmax(700px, auto) minmax(600px, auto) minmax(600px, auto) minmax(150px, auto);
  -ms-grid-columns: 1fr;
      grid-template: minmax(150px, auto) minmax(700px, auto) minmax(600px, auto) minmax(600px, auto) minmax(150px, auto)/1fr;
      grid-template-areas: "header" "main" "tabs" "choise" "footer";
}
/*# sourceMappingURL=main.css.map */