@media (max-width: 1200px) {
}
@media (max-width: 992px) {
    .header {
        &__first {
            font-size: 55px;
        }
        &__second {
            font-size: 55px;
        }
        &__logo {
            width: 94px;
        }
    }
}
@media (max-width: 768px) {
    .header {
        &__first {
            font-size: 40px;
        }
        &__second {
            font-size: 40px;
        }
        &__logo {
            width: 60px;
        }
        &__link {
            font-size: 13px;
            color: black;
        }
    }
    .tabs {
        display: grid;
        &__allcontent {
            display: grid;
            grid-template-rows: minmax(300px, auto) minmax(150px, auto) minmax(150px, auto);
        }
        &__content {
            display: grid;
            grid-row: 1/3;
            grid-column: 1/6;
        }
        &__bg {
            position: relative;
            display: grid;
            padding: 0px 100% 0px 0px;
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                object-fit: cover;
            }
        }
        &__tabheader {
            display: grid;
            grid-row: 3/4;
            grid-column: 1/6;
            text-align: center;
        }
        &__descr {
            display: grid;
            grid-row: 2/3;
            grid-column: 1/6;
            z-index: 1;
            background: rgba(179, 186, 194, 0.6);
        }
    }
}

@media (max-width: 576px) {
    .header {
        &__first {
            font-size: 30px;
        }
        &__second {
            font-size: 30px;
        }
        &__logo {
            padding-top: 10px;
            width: 40px;
        }
        &__link {
            font-size: 13px;
            color: black;
        }
    }
    //     .choise {
    //         background-color: rgb(109, 125, 139);
    //         display: grid;
    //         gap: 10px;
    //         padding: 30px;

    //         .title {
    //             // display: grid;
    //             text-align: center;
    //         }
    //         &__items {
    //             display: grid;
    //             gap: 20px;
    //             grid-template-columns: auto;
    //             margin-top: 20px;
    //         }
    //     }
    //     .footer {
    //         &__info {
    //             height: 100px;
    //         }
    //     }
}
@media (max-width: 320px) {
    .header {
        &__first {
            font-size: 20px;
        }
        &__second {
            font-size: 20px;
        }
        &__logo {
            width: 30px;
        }
        &__link {
            font-size: 13px;
            color: black;
        }
    }
    //     .stock {
    //         justify-content: center;

    //         &__component {
    //             padding: 0 5px 0 5px;
    //         }
    //     }
    //     .choise {
    //         background-color: rgb(109, 125, 139);
    //         display: grid;
    //         gap: 10px;
    //         padding: 30px;

    //         .title {
    //             // display: grid;
    //             text-align: center;
    //         }
    //         &__items {
    //             display: grid;
    //             gap: 20px;
    //             grid-template-columns: auto;
    //             margin-top: 20px;
    //         }
    //     }
    //     .footer {
    //         &__info {
    //             height: 80px;
    //         }
    //     }
}
