.footer {
    &__container {
        position: relative
    }
    &__info {
        position: absolute;
        width: 370px;
        height: 120px;
        // background-color: cadetblue;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(125, 145, 163, 0.8);
        text-align: center;

    }
    &__adrr {
        font-size: 20px;
        margin: 10px 0 10px 0;
        text-transform: uppercase;
    }
    &__phone {
        font-size: 20px;
        color: black;
        text-decoration: none;
        &:hover {
            color: rgb(3, 3, 199);
            transition: 0.5s all;
        }
    }
    &__social {
        margin-top: 10px;
    }
}
